<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button (click)="this.NavigationBack()"></ion-back-button>
    </ion-buttons>
    <ion-title>Pedido</ion-title>
    <div style="margin-left:20px;">Data: {{this.order_id | date: 'medium'}}</div>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list inset *ngFor="let item of products; let i = index">
    <ion-item class="ion-no-padding">
      <img style="height:90px" src="{{item.img}}"/>
      <table style="margin-left: 10px;">
        <tr>
          <td colspan="3">
            <b>{{item.name}}</b>
          </td>
        </tr>
        <tr>
          <td>
            <i>Quantidade: {{item.quantity}}</i>
          </td>
          <td class="pipe-divider"></td>
          <td>
            <i>Preço: {{item.price | currency}}</i>
          </td>
        </tr>
        <tr>
          <td colspan="3">
            <b style="color:green">Total: {{item.price*item.quantity | currency}}</b>
          </td>
        </tr>
      </table>
    </ion-item>
  </ion-list>

</ion-content>
